:root{
  --bg: #2b2b2b;    /* dark background */
  --paper: #474448; /* panel / paper (darkened) */
  --text: #f1f0ea;  /* light text */
  --muted: #e0ddcf; /* light accent*/
  --accent: #534b52;/* muted purple */
}

title {
  font-size: large;
  color: var(--muted);
}

nav {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 2.75vw;
  color: var(--muted);
  margin-top: 2.5vh;
}

.top-box {
  border: 2.2px solid var(--muted); /* box around text */
  padding: 0.1rem 0.5rem;           /* space inside box */
  margin-right: 1rem;              /* gap between items */
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'JetBrains Mono', monospace;
  margin: 0 2.5vw;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.25vw;
}

a { color: inherit; text-decoration: none; }
hr { margin: auto; color: inherit; }

a{
  text-decoration: underline;
}